<im-spinner *ngIf="loading"></im-spinner>
<div class="movie-genre">    

    <div class="card bg-light w-75">

        <div class="card-header">
            <im-movie-title [attrClass]="'h1 text-danger card-title text-center'" >{{ movie.title }}</im-movie-title>
        </div>
      
      <div class="row card-img-top mt-3">
        
        <div class="col-5">
          <im-movie-photo class="float-right"
                [url]="'http://image.tmdb.org/t/p/w200/' + movie.poster_path">
          </im-movie-photo>
        </div>

          <div class="col-7 d-flex flex-column justify-content-center">
            <im-movie-photo 
                  [url]="'http://image.tmdb.org/t/p/w500/' + movie.backdrop_path">
            </im-movie-photo>
        </div>

        
        <div class="card-body">
            <im-movie-description class="card-text text-justify"> {{ movie.overview }} </im-movie-description>
        </div>
        
        
      </div>
    </div>
</div>
